@page "/productdetailview"

<h3>Product</h3>

<form>
    <div class="form-group">
        <label for="productCode">Name</label>
        <input type="text" class="form-control" id="productCode" placeholder="Product Code">
    </div>
    <div class="form-group">
        <label for="productName">Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Product Name">
    </div>
    <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea class="form-control" id="productDescription" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ProductInventory.BlazorApp.Pages.Product.ProductListView/>

