@page "/productlistview"

<h3>ProductListView</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>00001</td>
            <td>00002</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Memory Card</td>
            <td>Keyboard</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>4GB Memory Size.</td>
            <td>Back Light Keyboard.</td>
        </tr>
    </tbody>
</table>
